@import "tailwindcss";
@variant dark (&:where(.dark, .dark *));

@theme {
  /* Colors */
  --color-neutro-0: hsl(200, 60%, 99%);
  --color-neutro-100: hsl(220, 100%, 100%);
  --color-neutro-200: hsl(206, 60%, 95%);
  --color-neutro-300: hsl(180, 55%, 96%);
  --color-neutro-400: hsla(180, 10%, 84%, 1.00);
  --color-neutro-600: hsl(226, 11%, 37%);
  --color-neutro-700: hsl(227, 15%, 35%);
  --color-neutro-800: hsl(224, 27%, 17%);
  --color-neutro-900: hsl(226, 74%, 14%);
  --color-neutro-950: hsl(227, 74%, 7%);
  --color-vermelho-500: hsl(4, 81%, 63%);
  --color-vermelho-700: hsl(3, 77%, 44%);

  /* Font */
  --font-noto: Noto Sans, sans-serif
}

html,
body,
#root {
  height: 100%;
}